$retina-break: 1450px
$media-info: 'only screen and (min-width: $retina-break)'

$baseFontSize: 1em
$headingFontSize: $baseFontSize * 4

$retinaHeadingFontSize: $headingFontSize * 4
$retinaButtonFontSize: $baseFontSize * 4

$borderSize: 3px

:global(.game-over-container)
  background: #3B4263

  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%

  z-index: 2

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  h1, button
    text-transform: uppercase

  h1
    @media #{$media-info}
        font-size: $retinaHeadingFontSize
    color: #FFFFFF
    font-size: $headingFontSize

  button
    @media #{$media-info}
        font-size: $retinaButtonFontSize
        border: $borderSize * 2 dashed #FEB901
    color: #FEB901
    border: none
    border: $borderSize dashed #FEB901
    border-radius: 50px 50px
    z-index: 3
    background: none
    height: 7%
    width: 12%
    font-size: $baseFontSize
    position: relative
    padding: 0
    margin: 0

:global(.game-over-container.active)
  transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1)
  transform: translateY(0)
  opacity: 0.6

:global(.game-over-container.inactive)
  transition: transform 0s cubic-bezier(0.4, 0.0, 0.2, 1) .2s, opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1)
  transform: translateY(-100%)
  opacity: 0
