:global(.game-over-container)
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%

  background: #000
  z-index: 2

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  h1, button
    text-transform: uppercase

  h1
    color: #FFFFFF
    font-size: 4em

  button
    color: #FEB901
    border: none
    border: 3px dashed #FEB901
    border-radius: 50px 50px
    z-index: 3
    background: none
    height: 7%
    width: 12%
    font-size: 1em
    position: relative
    padding: 0
    margin: 0

:global(.game-over-container.active)
  transition: opacity 0.3s cubic-bezier(0.4, 0.0, 0.2, 1)
  transform: translateY(0)
  opacity: 0.5

:global(.game-over-container.inactive)
  transition: transform 0s cubic-bezier(0.4, 0.0, 0.2, 1) .2s, opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1)
  transform: translateY(-100%)
  opacity: 0
