@font-face {
  font-family: 'AllerDisplay';
  src: url('../fonts/AllerDisplay.ttf');
}

* {
  font-family: 'AllerDisplay';
  box-sizing: border-box;
}

body, :global(#app) {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
